/* general settings*/

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

header{
    width: 100%;
    background-color: orange;
    padding: 10px 0px;
    position: fixed;
    top:0;
    z-index: 1;
}

a, li{
    list-style: none;
    text-decoration: none;
}


/* general settings section header nav */

.top-containerflex{
    display: flex;
    justify-content: space-around;
    align-items: center;

    
    /* DEBUG */
 
    min-width: 100%;
    height: 30px;
    background-color: orange;
  
}

.topnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 20px; 
    width: 80%; 
}

.top-link, li, a{
    display: flex;
    color: #fff;

}

.topnav .top-logo img{
    max-width: 70px;
}

.top-icons, li, a{
    display: flex;
    color: #fff;
    padding: 10px;

}

/* add rules main content */

/* all contenitor main */
main{
   margin-top: 100px;
   margin-right: 50px;
}
.contentgallery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
   
}

.contentgallery.modelproduct{
    width: 100%;
    margin-bottom: 1.5em;
    margin-top: 60px;
}

/* DEBUG PER FILA */
.product{
    display: inline-block;
    width: calc(100%/3 - 4px);
    vertical-align: top;
    position: relative;
}

div > img {
    width: 100%;
}






