/* general settings*/

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

a, li{
    list-style: none;
    text-decoration: none;
}



/* general settings section header nav */

.top-containerflex{
    display: flex;
    justify-content: space-between;

    
    /* DEBUG */
    padding: 10px 0;
    min-width: 100%;
    height: 50px;
    background-color: orange;
  
}

.topnav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 20px; 
}

.top-link, li ,a{
    display: flex;
    color: #fff;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;

}

.topnav .top-logo img{
    max-width: 100px;
}

.topnav, .top-icons, a{



   
}
